# Laravel
laravel/vendor/
laravel/node_modules/
laravel/.env
laravel/storage/framework/cache/data/*
laravel/storage/framework/sessions/*
laravel/storage/framework/views/*
laravel/storage/logs/*
laravel/bootstrap/cache/*
laravel/public/hot
laravel/public/storage
laravel/public/assets/images/products/*
!laravel/public/assets/images/products/.gitkeep

# Next.js
nextjs/node_modules/
nextjs/.next/
nextjs/.env.local
nextjs/out/

# Общее
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
